@import "./abstracts/variable";
@import "./components/gradient";

.card-block {
  &:hover {
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 70px;
      height: 70px;
      border-radius: 10px;
      background-color: $primary;
      filter: blur(85px);
    }
    img {
      transform: scale(1.2);
      transition: all ease-in-out 0.3s;
    }
  }
}

.black-gradient {
  background: $tertiary;
  background: linear-gradient(
    90deg,
    rgba($tertiary, 0.9) 0%,
    rgba(#000000, 0.85) 20%
  );
  background-size: 100% 100%;
}
